footer {
    min-width: 32rem;
    max-width: 36rem;
    background-image: url("../assets/img/imagen_de_fondo_de_una_heladeria.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-color: rgb(231, 141, 14);
    height: auto;
    margin: 0 auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .navegacion_opciones{
        background-color: aqua;
        width: 36rem;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        li{
            width: 10rem;
            height: 2rem;
            background-color: rgb(25, 79, 74);
            list-style: none;
            margin: 0 auto;
            text-align: center;
            a{
                color: #CC7D24;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }

    .container_footer {
        background-color: aquamarine;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .info-contacto {
            text-align: center;
        }

        .info-contacto,
        .ubicacion,
        .redes-sociales {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}