footer {
    min-width: 32rem;
    max-width: 36rem;
    background-image: url("../assets/img/imagen_de_fondo_de_una_heladeria.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: center;
    background-position-y: bottom;
    background-color: rgb(20, 10, 8);
    height: auto;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;

    .container_footer {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;

        .info-contacto {
            text-align: center;
        }

        .info-contacto,
        .ubicacion,
        .redes-sociales {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
        }
    }
}