@use 'mixinsheader';
@import 'reset';

header {
    position: relative;
    min-width: 32rem;
    max-width: 36rem;
    margin: 0 auto;
    height: 40vh;
    border-bottom: 0.2rem solid rgb(255, 255, 255);

    img {
        @include mixinsheader.imageStyles;
        @include mixinsheader.imageAnimations;
    }

    @keyframes fadeIn {
        0% {
            opacity: 0;
            transform: translateX(-100px);
        }

        20%,
        100% {
            opacity: 1;
            transform: translateX(0);
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }

        20%,
        100% {
            opacity: 0;
            transform: translateX(10px);
        }
    }

    @keyframes growth {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.5);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes logoAnimation {
        0% {
            opacity: 0;
            transform: translateX(0);
        }

        100% {
            opacity: 1;
        }
    }

    video {
        @include mixinsheader.videoStyles;
    }
}