* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

html {
    font-size: 62.5%;
}

header {
    position: relative;
    min-width: 32rem;
    max-width: 36rem;
    margin: 0 auto;
    height: 40vh;
    border-bottom: 0.2px solid rgb(255, 255, 255);
    img {
        width: 12rem;
        max-width: 100%;
        position: absolute;
        top: 4rem;
        left: 20rem;
    }

    video {
        position: absolute;
        top: 0;
        left: 0;
        max-width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5s;
        z-index: -1;

    }
}
nav{
  background-color: #332d28;
  min-width: 32rem;
  max-width: 36rem;
  width: 100%;
  height: 4rem;
  margin: 0 auto;
  .container_navegacion{
    list-style: none;
    padding: 1rem;
    .navegacion_mobile{
      display: flex;
      justify-content: space-between;

    }
    .navegacion_opciones{
      display: none;
    }
    li{
      a{
        text-decoration: none;
        color: #b2b2b2;
        font-size: 1.2rem;
      }
    }
  }
}

main {
    min-width: 32rem;
    max-width: 36rem;
    height: auto;
    margin: 0 auto;
    margin-bottom: 2rem;
    .container_bienvenida{
      max-width: 36rem;
      height: 13rem;
      display: flex;
      place-items: center;
      place-content: center;
      font-family: 'great_vibesregular';
      color: #fff;
      font-style: normal;
      text-shadow: 1px 1px 6px #000;
      background-color: #90623c;
      b{
        white-space: nowrap;
        font-weight: bolder;
        font-size: 2.4rem;
        line-height: 1.2;
        letter-spacing: 0.2rem;
        text-align: center;
      }
    }
    .container_delivery{
      max-width: 36rem;
      height: 40rem;
      background-color: #FFBA00;
      .delivery{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        max-width: 28rem;
        height: 20rem;
        margin: 0 auto;
        h2{
          margin-top: 4rem;
          font-size: 2rem;
          font-weight: 600;
        }
        .info_delivery{
          width: 28rem;
          margin: 0 auto;
          P{
            font-size: 2.8rem;
            text-align: center;
            line-height: 2;
            color: white;
          }
        }
      }
    }
    h2{
      text-align: center;
    }
    .container_helados {
        width: 30rem;
        max-width: 50rem;
        margin: 0 auto;

        .lista_helados {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            list-style: none;

            .item_helados {
                list-style: none;
                margin: 0 auto;

                img {
                    width: 20rem;
                    height: 20rem;
                    max-width: 100%;
                    margin: 0 auto;
                    margin-top: 1rem;
                }

                .container_info_helados {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 0.5rem;
                }
            }
        }
    }
}

footer{
  min-width: 32rem;
  max-width: 36rem;
  background-image: url("../assets/img/imagen_de_fondo_de_una_heladeria.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom; 
  background-color: rgb(20,10,8);
  height: auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  .container_footer{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    .info-contacto{
      text-align: center;
    }
    .info-contacto, .ubicacion, .redes-sociales{
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}