* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-weight: 300;
}

html {
  font-size: 62.5%;
}

header {
  position: relative;
  min-width: 32rem;
  max-width: 36rem;
  margin: 0 auto;
  height: 40vh;
  border-bottom: 0.2px solid rgb(255, 255, 255);

  img {
    animation: fadeIn 1s ease-in forwards,
      growth 1s 1s ease-in forwards,
      fadeOut 1s 2s ease-out forwards,
      logoAnimation 500ms 3s ease-in forwards;
    width: 12rem;
    max-width: 100%;
    position: absolute;
    top: 4rem;
    left: 22rem;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }

    20%,
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
    }

    20%,
    100% {
      opacity: 0;
      transform: translateX(10px);
    }
  }

  @keyframes growth {
    0% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
    }

    100% {
      transform: scale(1);
    }
  }

  @keyframes logoAnimation {
    0% {
      opacity: 0;
      transform: translateX(0);
    }

    100% {
      opacity: 1;
    }
  }

  video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5s;
    z-index: -1;

  }
}

nav {
  background-color: #332d28;
  min-width: 32rem;
  max-width: 36rem;
  width: 100%;
  height: 4rem;
  margin: 0 auto;

  .container_navegacion {
    list-style: none;
    padding: 1rem;

    .navegacion_mobile {
      display: flex;
      justify-content: space-between;

    }

    .navegacion_opciones {
      display: none;
    }

    li {
      a {
        text-decoration: none;
        color: #b2b2b2;
        font-size: 1.2rem;
      }
    }
  }
}

main {
  min-width: 32rem;
  max-width: 36rem;
  height: auto;
  margin: 0 auto;
  margin-bottom: 2rem;

  .container_bienvenida {
    max-width: 36rem;
    height: 25rem;
    display: flex;
    place-items: center;
    place-content: center;
    font-family: 'great_vibesregular';
    color: #fff;
    font-style: normal;
    text-shadow: 1px 1px 6px #000;
    background-image: url("../assets/img/imagen_de_fondo_de_una_heladeria.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    b {
      white-space: nowrap;
      font-weight: bolder;
      font-size: 2.4rem;
      line-height: 1.2;
      letter-spacing: 0.2rem;
      text-align: center;
    }
  }

  .container_delivery {
    max-width: 36rem;
    height: 84rem;
    background-color: #FFBA00;
    margin-bottom: 2rem;

    .info_delivery {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      margin: 0 auto;
      max-width: 36rem;
      height: auto;

      h2 {
        margin-top: 4rem;
        font-size: 2rem;
        font-weight: 600;
      }

      P {
        font-size: 2.8rem;
        text-align: center;
        line-height: 2;
        color: white;
      }
    }

    .wrapper {
      position: absolute;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: fit-content;
      height: auto;

      button {
        width: 20rem;
        height: 7rem;
        background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
        border-style: none;
        color: #fff;
        font-size: 2.3rem;
        letter-spacing: 0.3rem;
        font-family: 'Lato';
        font-weight: 600;
        outline: none;
        cursor: pointer;
        position: relative;
        padding: 0px;
        overflow: hidden;
        transition: all .5s;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);

        &:hover {
          transition: all .5s;
          transform: rotate(-3deg) scale(1.1);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, .4);
        }
        span {
          position: absolute;
          display: block;
        }
        &:hover{
          animation-play-state: paused;
        }

        span:nth-child(1) {
          height: 0.3rem;
          width: 20rem;
          top: 0px;
          left: -20rem;
          background: linear-gradient(to right, rgba(0, 0, 0, 0), #F0EDCF);
          border-top-right-radius: 1px;
          border-bottom-right-radius: 1px;
          animation: span1 2s linear infinite;
          animation-delay: 1s;
        }

        @keyframes span1 {
          0% {
            left: -200px
          }

          100% {
            left: 200px;
          }
        }

        span:nth-child(2) {
          height: 7rem;
          width: 0.3rem;
          top: -7rem;
          right: 0px;
          background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #F0EDCF);
          border-bottom-left-radius: 1px;
          border-bottom-right-radius: 1px;
          animation: span2 2s linear infinite;
          animation-delay: 2s;

        }

        @keyframes span2 {
          0% {
            top: -70px;
          }

          100% {
            top: 70px;
          }
        }

        span:nth-child(3) {
          height: 3px;
          width: 200px;
          right: -200px;
          bottom: 0px;
          background: linear-gradient(to left, rgba(0, 0, 0, 0), #f6e58d);
          border-top-left-radius: 1px;
          border-bottom-left-radius: 1px;
          animation: span3 2s linear infinite;
          animation-delay: 3s;
        }

        @keyframes span3 {
          0% {
            right: -200px;
          }

          100% {
            right: 200px;
          }
        }

        span:nth-child(4) {
          height: 70px;
          width: 3px;
          bottom: -70px;
          left: 0px;
          background: linear-gradient(to top, rgba(0, 0, 0, 0), #f6e58d);
          border-top-right-radius: 1px;
          border-top-left-radius: 1px;
          animation: span4 2s linear infinite;
          animation-delay: 4s;
        }

        @keyframes span4 {
          0% {
            bottom: -70px;
          }

          100% {
            bottom: 70px;
          }
        }
      }
    }

    img {
      max-width: 36rem;
      margin-top: 15rem;
    }
  }

  h2 {
    text-align: center;
  }

  .container_helados {
    width: 30rem;
    max-width: 50rem;
    margin: 0 auto;

    .lista_helados {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      list-style: none;

      .item_helados {
        list-style: none;
        margin: 0 auto;

        img {
          width: 20rem;
          height: 20rem;
          max-width: 100%;
          margin: 0 auto;
          margin-top: 1rem;
        }

        .container_info_helados {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.5rem;
        }
      }
    }
  }
}

footer {
  min-width: 32rem;
  max-width: 36rem;
  background-image: url("../assets/img/imagen_de_fondo_de_una_heladeria.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-x: center;
  background-position-y: bottom;
  background-color: rgb(20, 10, 8);
  height: auto;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;

  .container_footer {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    .info-contacto {
      text-align: center;
    }

    .info-contacto,
    .ubicacion,
    .redes-sociales {
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
    }
  }
}